.Cell {
  width: 2em;
  height: 2em;
  font-size: 2em;
  background-color: var(--secondary-btn-color);
  border-radius: 6px;
  margin: 0.2em;
  display: grid;
  place-items: center;
}

.Cell:hover {
  cursor: pointer;
}

.isSelected {
  background: var(--primary-btn-color);
}
