#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background-color:  var(--secondary-btn-color);
  border: none;
  border-radius: 6px;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
  transition: 100ms;
}

.button:hover {
  scale: 1.1;
  background-color: var(--primary-btn-color);
}

.title {
  font-size: 3em;
  margin: 0;
  padding: 0;
}