:root {
  font-family: 'Kanit', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #fdfcfc;
  --text-color: #080707;
  --primary-btn-color: #c7d1c8;
  --secondary-btn-color: #ede9e9;
  --shadow-color: 0deg 5% 63%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
