.Winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.Winner .text {
    background: #242424;
    height: 300px;
    width: 320px;
    border: 2px solid rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Winner button, .Winner button:hover {
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
    border: 2px solid rgba(255, 255, 255, 0.87);
    border-radius: 6px;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
}
